
ECard/.idea/dbnavigator.xml

ECard/.idea/assetWizardSettings.xml

ECard/.idea/caches/build_file_checksums.ser

ECard/.idea/caches/gradle_models.ser

Praca dyplomowa/Jakub_Legutko.aux

Praca dyplomowa/Jakub_Legutko.lof

Praca dyplomowa/Jakub_Legutko.log

Praca dyplomowa/Jakub_Legutko.out

Praca dyplomowa/Jakub_Legutko.synctex.gz

Praca dyplomowa/Jakub_Legutko.toc
